<a href="https://colab.research.google.com/github/tharani694/SLC-Project1/blob/main/CT2_SLC_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Supervised Classification

##### You are hired by one of the leading news channels CNBE who wants to analyse recent elections. This survey was conducted on 1525 voters with 9 variables. You have to build a model, to predict overall win and seats covered by a particular party.

##### 1.1)Read the dataset. Describe the data briefly. Interpret the inferences for each. Initial steps like head() .info(), Data Types, etc. Null value check, Summary stats, Skewness must be discussed.

##### 1.2)Perform EDA (Check the null values, Data types, shape, Univariate, bivariate analysis). Also check for outliers Interpret the inferences for each (3 pts) Distribution plots(histogram) or similar plots for the continuous columns. Box plots, Correlation plots. Appropriate plots for categorical variables. Inferences on each plot. Outliers proportion should be discussed, and inferences from above used plots should be there. There is no restriction on how the learner wishes to implement this but the code should be able to represent the correct output and inferences should be logical and correct.

##### 1.3)Encode the data (having string values) for Modelling. Is Scaling necessary here or not, Data Split: Split the data into train and test (70:30) The learner is expected to check and comment about the difference in scale of different features on the bases of appropriate measure for example std dev, variance, etc. Should justify whether there is a necessity for scaling. Object data should be converted into categorical/numerical data to fit in the models Data split, ratio defined for the split, train-test split should be discussed.

##### 1.4)Apply Decision Tree and Random Forest Model. Interpret the inferences of each model. Successful implementation of each model. Logical reason behind the selection of different values for the parameters involved in each model. Calculate Train and Test Accuracies for each model. Comment on the validation of models (over fitting or under fitting)

##### 1.5) Performance Metrics: Check the performance of Predictions on Train and Test sets using Accuracy, Confusion Matrix, Plot ROC curve and get ROC_AUC score for each model, classification report Final Model - Compare and comment on all models on the basis of the performance metrics in a structured tabular manner

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Election_Data - Election_Dataset_Two Classes.csv to Election_Data - Election_Dataset_Two Classes.csv

In [4]:
import io
data = pd.read_csv(io.BytesIO(uploaded['Election_Data.csv']))

KeyError: ignored

In [ ]:
data.head()

,Unnamed: 0,vote,age,economic.cond.national,economic.cond.household,Blair,Hague,Europe,political.knowledge,gender
0,1,Labour,43,3,3,4,1,2,2,female
1,2,Labour,36,4,4,4,4,5,2,male
2,3,Labour,35,4,4,5,2,3,2,male
3,4,Labour,24,4,2,2,1,4,0,female
4,5,Labour,41,2,2,1,1,6,2,male

In [ ]:
data=data.drop('Unnamed: 0',axis=1)

### Exploratory Data Analysis

#### 5 Instances of the Dataset using head and tail commands

In [ ]:
data.head()

,vote,age,economic.cond.national,economic.cond.household,Blair,Hague,Europe,political.knowledge,gender
0,Labour,43,3,3,4,1,2,2,female
1,Labour,36,4,4,4,4,5,2,male
2,Labour,35,4,4,5,2,3,2,male
3,Labour,24,4,2,2,1,4,0,female
4,Labour,41,2,2,1,1,6,2,male

In [ ]:
data.tail()

,vote,age,economic.cond.national,economic.cond.household,Blair,Hague,Europe,political.knowledge,gender
1520,Conservative,67,5,3,2,4,11,3,male
1521,Conservative,73,2,2,4,4,8,2,male
1522,Labour,37,3,3,5,4,2,2,male
1523,Conservative,61,3,3,1,4,11,2,male
1524,Conservative,74,2,3,2,4,11,0,female

#### Column names of dataset

In [ ]:
data.columns

Index(['vote', 'age', 'economic.cond.national', 'economic.cond.household',
       'Blair', 'Hague', 'Europe', 'political.knowledge', 'gender'],
      dtype='object')

#### Generic Info of dataset

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1525 entries, 0 to 1524
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   vote                     1525 non-null   object
 1   age                      1525 non-null   int64
 2   economic.cond.national   1525 non-null   int64
 3   economic.cond.household  1525 non-null   int64
 4   Blair                    1525 non-null   int64
 5   Hague                    1525 non-null   object
 6   Europe                   1525 non-null   int64
 7   political.knowledge      1525 non-null   int64
 8   gender                   1525 non-null   object
dtypes: int64(6), object(3)
memory usage: 107.4+ KB

#### Datatype for each feature

In [ ]:
data.dtypes

vote                       object
age                         int64
economic.cond.national      int64
economic.cond.household     int64
Blair                       int64
Hague                      object
Europe                      int64
political.knowledge         int64
gender                     object
dtype: object

#### Number of rows and columns

In [ ]:
data.shape

(1525, 9)

#### Values in each feature

In [ ]:
data.count()

vote                       1525
age                        1525
economic.cond.national     1525
economic.cond.household    1525
Blair                      1525
Hague                      1525
Europe                     1525
political.knowledge        1525
gender                     1525
dtype: int64

#### To check if dataset contains null values

In [ ]:
data.isnull().sum()

vote                       0
age                        0
economic.cond.national     0
economic.cond.household    0
Blair                      0
Hague                      0
Europe                     0
political.knowledge        0
gender                     0
dtype: int64

In [ ]:
# There are no null values

#### To check if there are duplicates

In [ ]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1520    False
1521    False
1522    False
1523    False
1524    False
Length: 1525, dtype: bool

#### To Describe the dataset

In [ ]:
data.describe()

,age,economic.cond.national,economic.cond.household,Blair,Europe,political.knowledge
count,1525.000000,1525.000000,1525.000000,1525.000000,1525.000000,1525.000000
mean,54.182295,3.245902,3.140328,3.334426,6.728525,1.542295
std,15.711209,0.880969,0.929951,1.174824,3.297538,1.083315
min,24.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,41.000000,3.000000,3.000000,2.000000,4.000000,0.000000
50%,53.000000,3.000000,3.000000,4.000000,6.000000,2.000000
75%,67.000000,4.000000,4.000000,4.000000,10.000000,2.000000
max,93.000000,5.000000,5.000000,5.000000,11.000000,3.000000

#### To look for skewness

In [ ]:
data.skew()

age                        0.144621
economic.cond.national    -0.240453
economic.cond.household   -0.149552
Blair                     -0.535419
Europe                    -0.135947
political.knowledge       -0.426838
dtype: float64